@charset "UTF-8";
/* CSS Document */

.background{
	width: 1048px;
	height: 1048px;
	background-image:url("segmentation.png");
	background-size:contain;
	background-repeat: no-repeat;
}

.button-1{
	width: 105px;
	height:70px;

}
